In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv("한국환경공단_지자체별 RFID음식물쓰레기 배출량_20200731.csv", encoding = 'CP949')
train_label = pd.read_csv("음식물쓰레기발생현황.csv", encoding = 'CP949')
train_label2 = pd.read_csv("음식물쓰레기배출현황.csv", encoding = 'CP949')

In [4]:
population = pd.read_csv("population.csv")
businees = pd.read_csv('경기도_음식물류폐기물다량배출사업장현황.csv', encoding = 'CP949')
house = pd.read_csv('주택_현황_및_보급률_20211114012458.csv')

In [6]:
train

      배출연도  배출월     광역시도 기초지자체   배출량(톤)
0     2017    7    서울특별시   종로구    87260
1     2017    7    서울특별시    중구   189784
2     2017    7    서울특별시   용산구     6679
3     2017    7    서울특별시   성동구   296140
4     2017    7    서울특별시   광진구   166759
...    ...  ...      ...   ...      ...
5190  2020    7     경상남도   창녕군   169073
5191  2020    7     경상남도   고성군    39642
5192  2020    7     경상남도   하동군    10051
5193  2020    7  제주특별자치도   제주시  2202240
5194  2020    7  제주특별자치도  서귀포시   803232

[5195 rows x 5 columns]

In [4]:
population

,Unnamed: 0,세대수,남,여,외국인,세대수.1,남.1,여.1,외국인.1,세대수.2,...,여.33,외국인.33,세대수.34,남.34,여.34,외국인.34,세대수.35,남.35,여.35,외국인.35
0,수원시,484113,605800,596915,37984,485023,605273,596633,38204,486490,...,589775,37288,NaN,597612,589541,36549,506950,597076,589002,35835
1,용인시,372998,499989,506245,16918,374166,500628,507136,16868,375064,...,541569,17270,NaN,533488,541302,17066,420519,532847,541329,16731
2,성남시,396946,479277,488231,16967,397312,478910,488058,16988,397368,...,475423,15872,NaN,465702,475044,15596,407912,465407,474657,15184
3,부천시,336252,424628,426776,21496,337129,424734,427078,21732,337728,...,413667,25001,NaN,406839,413151,24672,344495,406023,412360,24405
4,화성시,272445,360319,336268,36976,276695,365586,341538,37101,280631,...,409096,38562,NaN,442631,410475,38106,351924,443841,411407,37636
5,안산시,277909,346700,329104,53853,277056,344565,327005,54020,276182,...,318469,53232,NaN,335365,318845,52273,286061,335804,319111,51270
6,안양시,223023,291182,295440,6999,222771,290421,294746,7018,222621,...,279124,6796,NaN,272550,278746,6670,220552,271936,278091,6543
7,평택시,205060,247285,235452,21470,206126,248070,236099,21643,207158,...,257194,23463,NaN,275968,258375,23373,243838,277617,259690,23168
8,시흥시,169192,221606,201340,32203,171055,223748,203421,32330,172327,...,236452,33343,NaN,260233,237692,32938,211150,261730,239165,32410
9,김포시,152711,197489,195977,18437,153608,198533,196977,18480,155295,...,232967,19243,NaN,235230,234110,19033,193234,237507,236463,18796
10,광주시,140902,178304,169194,12493,141532,178812,169775,12567,142265,...,186038,12295,NaN,194991,186333,12101,164320,195298,186756,11900
11,광명시,127055,164338,167422,5889,126997,163725,166898,5964,127256,...,153283,4818,NaN,148104,151988,4605,120560,147278,151321,4469
12,군포시,106638,139395,141284,6796,106658,139005,140807,6807,106829,...,138291,6512,NaN,136130,138179,6365,112476,135834,137957,6248
13,하남시,94601,117843,116576,2176,95551,118951,117702,2192,96370,...,143755,2200,NaN,146255,144820,2187,128774,147424,146028,2168
14,오산시,85949,110058,104062,8454,86410,110467,104385,8526,86809,...,110759,9468,NaN,118706,110885,9360,99436,118785,110940,9231
15,이천시,87306,108803,104178,6774,87432,108757,104050,6771,87723,...,105846,7168,NaN,113668,105857,7150,96799,112947,105441,7030
16,안성시,77511,93413,89027,10804,77688,93353,88990,10753,77751,...,90454,11389,NaN,96313,90540,11331,85839,96355,90657,11222
17,의왕시,59122,77651,77867,1199,58986,77430,77553,1189,58922,...,82357,1087,NaN,81584,82394,1068,64690,81470,82325,1062
18,양평군,53315,57952,57179,1584,20829,28022,29324,203,20768,...,59076,1414,NaN,59600,59178,1395,57675,59563,59247,1364
19,여주시,49012,56633,55348,3523,49019,56655,55269,3520,49094,...,54895,3476,NaN,56728,54908,3450,51748,56838,55059,3461
20,과천시,20860,28054,29347,203,53409,57974,57203,1569,53504,...,31552,182,NaN,30466,31560,174,23373,31068,32163,166
21,고양시,409202,511344,530253,12278,409713,511236,530194,12296,410427,...,549395,11724,NaN,527834,550213,11615,448574,528480,550736,11522
22,남양주시,256333,333004,334018,6836,257359,334256,335297,6776,258195,...,357338,7237,NaN,355027,357873,7182,285334,355197,358124,7141
23,파주시,181111,223072,216209,10732,181829,223554,216767,10601,182379,...,228240,10912,NaN,235537,228916,10761,200270,236049,229568,10655
24,의정부시,180004,218155,224052,4220,180460,218371,224341,4247,180756,...,233186,4794,NaN,226656,233734,4762,201630,227342,234368,4745
25,양주시,85340,107628,104529,7196,85557,107675,104495,7158,85792,...,113286,7107,NaN,116847,113426,7074,97998,116916,113443,7011
26,구리시,77527,99468,100891,1412,77570,99402,100848,1403,77564,...,99636,1432,NaN,98033,99575,1406,81520,97939,99515,1402
27,포천시,68845,80295,72440,12497,68914,80233,72348,12341,68964,...,69512,12494,NaN,78012,69465,12280,71315,77905,69369,12115
28,동두천시,42453,48334,48705,3274,42456,48254,48630,3280,42509,...,47069,3400,NaN,46959,47240,3381,43874,47038,47315,3334
29,가평군,29820,32210,30604,1039,29827,32151,30564,1029,29917,...,30308,1022,NaN,32192,30303,1017,31533,32156,30221,1003
30,연천군,21544,23722,21561,979,21524,23641,21487,973,21505,...,20754,947,NaN,22801,20730,933,22028,22799,20717,917

In [5]:
businees = businees.drop(['상호명','소재지도로명주소', '소재지지번주소','전화번호','위탁업소명','경도','위도', '데이터기준일자','비고'], axis = 1)

In [6]:
businees["세부내역"] = businees["시군명"].map(str) + " " + businees["사업장구분"]

In [7]:
businees = businees.drop(['시군명', '사업장구분'], axis = 1)

In [8]:
businees.groupby(['세부내역']).sum()

                   사업장규모   월배출예상량(Kg)  일배출예상량(Kg)
세부내역
가평군 음식점        70130.180   185621.000     6195.00
가평군 집단급식소      25042.180    88611.000     2953.00
가평군 호텔·콘도        209.000     2480.000       83.00
고양시 대규모점포      34794.150        0.000        0.00
고양시 음식점       230724.750        0.000        0.00
...                  ...          ...         ...
화성시 농수산물도매시장   58822.000    21060.000     1053.00
화성시 대규모점포      95639.640    39200.000     1960.00
화성시 음식점       226068.881   598669.000    29933.45
화성시 집단급식소     261151.620  1288812.333    64440.45
화성시 호텔·콘도        549.000    28400.000     1420.00

[101 rows x 3 columns]

In [9]:
business_cnt = businees.groupby(['세부내역']).count()

In [10]:
business_cnt

              사업장규모  월배출예상량(Kg)  일배출예상량(Kg)  처리방법구분
세부내역
가평군 음식점         147         147         147     147
가평군 집단급식소        69          69          69      69
가평군 호텔·콘도         2           2           2       2
고양시 대규모점포         3           0           0       3
고양시 음식점         580           0           0     580
...             ...         ...         ...     ...
화성시 농수산물도매시장      2           2           2       2
화성시 대규모점포         7           7           7       7
화성시 음식점         440         440         440     440
화성시 집단급식소       613         613         613     613
화성시 호텔·콘도         3           3           3       3

[101 rows x 4 columns]

In [11]:
business_cnt.index

Index(['가평군 음식점', '가평군 집단급식소', '가평군 호텔·콘도', '고양시 대규모점포', '고양시 음식점',
       '고양시 집단급식소', '과천시 음식점', '과천시 집단급식소', '광명시 음식점', '광명시 집단급식소',
       ...
       '포천시 집단급식소', '포천시 호텔·콘도', '하남시 대규모점포', '하남시 음식점', '하남시 집단급식소',
       '화성시 농수산물도매시장', '화성시 대규모점포', '화성시 음식점', '화성시 집단급식소', '화성시 호텔·콘도'],
      dtype='object', name='세부내역', length=101)

In [12]:
train_label2.시군구명.unique()

array(['고양시', '과천시', '구리시', '군포시', '남양주시', '동두천시', '부천시', '성남시중원구',
       '성남시분당구', '수원시팔달구', '수원시영통구', '수원시장안구', '수원시권선구', '시흥시', '안양시',
       '양주시', '여주시', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시', '평택시',
       '포천시', '하남시', '화성시', '광주시'], dtype=object)

In [13]:
train_label2[(train_label2.배출년도 == 2018)] #2018:7182  2019:9834 2020:7450  +28개의 행정구역

       배출년도  배출월  배출일  시군구명     배출량(g)  배출량비율(%)   배출횟수  배출횟수비율(%)
17284  2018   12   31   고양시     379250      2.77    265       2.63
17285  2018   12   31   과천시     465450     29.21    307      31.39
17286  2018   12   31   구리시   37187200      5.09   6704       3.57
17287  2018   12   31   군포시    6341450      3.62   3400       3.53
17288  2018   12   31  남양주시   12702550      3.37   6068       3.29
...     ...  ...  ...   ...        ...       ...    ...        ...
24461  2018    4    1   이천시   18488450      4.38   7491       3.98
24462  2018    4    1   파주시   29605850      3.94  14968       3.66
24463  2018    4    1   평택시    9130350      4.25   4326       3.88
24464  2018    4    1   포천시    8113300      4.20   3881       3.77
24465  2018    4    1   화성시  102691100      4.50  48118       4.21

[7182 rows x 8 columns]

In [14]:
print(train_label2.loc[(train_label2.배출년도 == 2018) & (train_label2.배출월 == 5)])

       배출년도  배출월  배출일  시군구명    배출량(g)  배출량비율(%)   배출횟수  배출횟수비율(%)
22896  2018    5   31   고양시    526500      3.55    485       4.13
22897  2018    5   31   광주시    292850      0.13    169       2.40
22898  2018    5   31   구리시  19285150      2.72   7170       3.51
22899  2018    5   31   군포시   5405500      3.04   3579       3.26
22900  2018    5   31  남양주시   8753750      3.33   5184       3.49
...     ...  ...  ...   ...       ...       ...    ...        ...
23697  2018    5    1   이천시  16177900      3.53   7221       3.43
23698  2018    5    1   파주시  28255300      3.44  15423       3.36
23699  2018    5    1   평택시   7610400      3.25   4104       3.28
23700  2018    5    1   포천시   7110900      3.31   3760       3.23
23701  2018    5    1   화성시  84092080      3.35  42705       3.32

[806 rows x 8 columns]

In [15]:
population.iloc[1,1]

372998

In [16]:
t_data = train_label2.copy()

In [17]:
t_data['세대수']= 0
t_data['남성인구']= 0
t_data['여성인구']= 0
t_data['외국인인구']= 0
#t_data['월배출예상량']= 0
#t_data['일배출예상량']= 0

In [18]:
city_list = []
city_list = population['Unnamed: 0']

In [19]:
city_list

0      수원시
1      용인시
2      성남시
3      부천시
4      화성시
5      안산시
6      안양시
7      평택시
8      시흥시
9      김포시
10     광주시
11     광명시
12     군포시
13     하남시
14     오산시
15     이천시
16     안성시
17     의왕시
18     양평군
19     여주시
20     과천시
21     고양시
22    남양주시
23     파주시
24    의정부시
25     양주시
26     구리시
27     포천시
28    동두천시
29     가평군
30     연천군
Name: Unnamed: 0, dtype: object

In [20]:
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 1) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,1]
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 2) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,5]
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 3) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,9]
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 4) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,13]
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 5) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,17]
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 6) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,21]
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 7) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,25]
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 8) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,29]
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 9) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,33]
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 10) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,37]
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 11) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,41]
t_data.loc[(t_data.배출년도 == 2018) & (t_data.배출월 == 12) & (t_data.시군구명 == '용인시'), '세대수'] = population.iloc[1,45]

In [21]:
print(t_data[(t_data.배출년도 == 2018) & (t_data.배출월 == 6) & (t_data.시군구명 == '용인시')].세대수.unique())

[377137]

In [22]:
i=0
for city in city_list:
    for year in range(2018,2021):
        for month in range(1,13):
            t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == city), '세대수'] = population.iloc[i,(1+ 4*((year - 2018)*12+month-1))]
            t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == city), '남성인구'] = population.iloc[i,(2+ 4*((year - 2018)*12+month-1))]
            t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == city), '여성인구'] = population.iloc[i,(3+ 4*((year - 2018)*12+month-1))]
            t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == city), '외국인인구'] = population.iloc[i,(4+ 4*((year - 2018)*12+month-1))]
    i= i+1

In [23]:
for year in range(2018,2021):
    for month in range(1,13):
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시장안구'), '세대수'] = population.iloc[0,(1+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시장안구'), '남성인구'] = population.iloc[0,(2+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시장안구'), '여성인구'] = population.iloc[0,(3+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시장안구'), '외국인인구'] = population.iloc[0,(4+ 4*((year - 2018)*12+month-1))]
        
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시영통구'), '세대수'] = population.iloc[0,(1+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시영통구'), '남성인구'] = population.iloc[0,(2+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시영통구'), '여성인구'] = population.iloc[0,(3+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시영통구'), '세대수'] = population.iloc[0,(4+ 4*((year - 2018)*12+month-1))]
        
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시팔달구'), '세대수'] = population.iloc[0,(1+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시팔달구'), '남성인구'] = population.iloc[0,(2+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시팔달구'), '여성인구'] = population.iloc[0,(3+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시팔달구'), '세대수'] = population.iloc[0,(4+ 4*((year - 2018)*12+month-1))]
        
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시권선구'), '세대수'] = population.iloc[0,(1+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시권선구'), '남성인구'] = population.iloc[0,(2+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시권선구'), '여성인구'] = population.iloc[0,(3+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '수원시권선구'), '세대수'] = population.iloc[0,(4+ 4*((year - 2018)*12+month-1))]
        
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '성남시중원구'), '세대수'] = population.iloc[2,(1+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '성남시중원구'), '남성인구'] = population.iloc[2,(2+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '성남시중원구'), '여성인구'] = population.iloc[2,(3+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '성남시중원구'), '세대수'] = population.iloc[2,(4+ 4*((year - 2018)*12+month-1))]
        
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '성남시분당구'), '세대수'] = population.iloc[2,(1+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '성남시분당구'), '남성인구'] = population.iloc[2,(2+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '성남시분당구'), '여성인구'] = population.iloc[2,(3+ 4*((year - 2018)*12+month-1))]
        t_data.loc[(t_data.배출년도 == year) & (t_data.배출월 == month) & (t_data.시군구명 == '성남시분당구'), '세대수'] = population.iloc[2,(4+ 4*((year - 2018)*12+month-1))]

In [24]:
#array(['집단급식소', '음식점', '호텔·콘도', '대규모점포', '농수산물도매시장'], dtype=object)

In [25]:
#t_data['집단급식소 수']= 0
#t_data['음식점 수']= 0
#t_data['숙박시설 수']= 0
#t_data['대규모점포 수']= 0
#t_data['농산물도매시장 수']= 0

In [26]:
t_data['배출량(kg)'] = t_data['배출량(g)']/1000.0

In [27]:
t_data

,배출년도,배출월,배출일,시군구명,배출량(g),배출량비율(%),배출횟수,배출횟수비율(%),세대수,남성인구,여성인구,외국인인구,배출량(kg)
0,2020,10,31,고양시,1302300,3.06,971,3.06,445663.0,527169,549395,11724,1302.30
1,2020,10,31,과천시,306450,4.07,226,3.46,22915.0,30459,31552,182,306.45
2,2020,10,31,구리시,19270450,2.97,6965,2.87,81383.0,98145,99636,1432,19270.45
3,2020,10,31,군포시,6215900,3.14,3893,2.92,112242.0,136329,138291,6512,6215.90
4,2020,10,31,남양주시,24173750,3.15,13490,2.94,283718.0,354477,357338,7237,24173.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24461,2018,4,1,이천시,18488450,4.38,7491,3.98,87948.0,109076,104172,6854,18488.45
24462,2018,4,1,파주시,29605850,3.94,14968,3.66,182723.0,224181,217436,10667,29605.85
24463,2018,4,1,평택시,9130350,4.25,4326,3.88,208004.0,249525,237215,21774,9130.35
24464,2018,4,1,포천시,8113300,4.20,3881,3.77,69028.0,80120,72190,12189,8113.30
24465,2018,4,1,화성시,102691100,4.50,48118,4.21,283903.0,373610,348610,37023,102691.10

In [28]:
t_data.외국인인구.unique()

array([11724,   182,  1432,  6512,  7237,  3400, 25001,     0, 37288,
       33343,  6796,  7107,  3476,  9468, 17270,  1087,  4794,  7168,
       10912, 23463, 12494,  2200, 38562, 11841,   180,  1448,  6572,
        7284,  3441, 25197, 37790, 33619,  6845,  7169,  3498,  9551,
       17392,  1097,  4803,  7244, 11067, 23687, 12650,  2213, 38964,
       11910,   178,  1450,  6600,  7311,  3475, 25332, 38023, 33721,
        6941,  7321,  3525,  9617, 17431,  1110,  4855,  7299, 11146,
       23857, 12788,  2229, 39358, 12023,   181,  6674,  7340, 25589,
       38536, 33871,  7042,  7373,  3523,  9633, 17662,  1118,  5014,
        7386, 11222, 23984, 12908,  2255, 39659, 12156,  1464,  6702,
        7372,  3548, 25800, 38960, 34019,  7154,  7402,  3524,  9635,
       17910,  1140,  5129,  7423, 11348, 24066, 13096,  2272, 40121,
       12225,  1467,  6751,  7385,  3568, 25803, 39183, 34180,  7202,
        7399,  3542,  9659, 17992,  1160,  5135,  7443, 11423, 24101,
       13167,  2273, 40331, 12347,  1511,  6854,  3604, 25902, 40003,
       34395,  7283,  7457,  3502,  9672, 18632,  1180,  5142,  7448,
       11524, 24192, 13316,  2312, 40698, 12409,   167,  1512,  6900,
        7477,  3639, 25833, 40344, 34541,  7375,  7461,  3527,  9684,
       18931,  1188,  5190,  7499, 11623, 24268, 13507,  2286, 40836,
       12525,   162,  1495,  7031,  7541,  3515, 25855, 40818, 34861,
        7447,  7528,  3617,  9707, 19186,  1194,  4984,  7566, 11648,
       24259, 13603,  2304, 41171, 12508,   173,  1490,  7010,  3477,
       25689, 40557, 34697,  7420,  7464,  3576,  9696, 18982,  1191,
        4908,  7515, 11572, 24108, 13264,  2279, 40553, 12595,   174,
        1480,  7092,  7522,  3376, 25827, 41495, 35223,  7446,  3640,
        9858, 19344,  1186,  4899,  7654, 11525, 24315, 13160,  2280,
       41029, 12592,  1481,  7060,  7518,  3385, 25603, 41557, 35205,
        7472,  7428,  3609,  9840, 19312,  1185,  4913,  7610, 11489,
       24190, 13155,  2260, 40821, 12550,   183,  1447,  7437,  3353,
       25416, 40756, 35076,  7405,  7317,  3567,  9695, 19015,  4882,
        7486, 11346, 23997, 13014,  2245, 40345, 12509,   187,  1451,
        7024,  7393, 25288, 40527, 35023,  7409,  7369,  3543, 18452,
        1183,  4845, 11382, 23910, 12978, 40544, 12529,   188,  1442,
        7018,  7377, 25293, 40895, 35062,  7404,  7282,  3499,  9628,
       18531,  1171,  4758, 11392, 23693, 12999,  2264, 40422, 12590,
         193,  1412,  7063,  7307,  3382, 25367, 41223, 35242,  7424,
        7164,  3430,  9668, 18532,  1164,  4619,  7292, 11292, 23581,
       12822,  2267, 39938, 12638,   198,  1422,  7070,  7257,  3378,
       41420, 35198,  7430,  3403,  9639, 18617,  1175,  4570,  7252,
       11259, 23454, 12801,  2274, 39919, 12621,   184,  1436,  7041,
        7193,  3392, 25252, 41526, 35217,  7449,  7186,  9612, 18581,
        1174,  4581,  7204, 11240, 23349, 12756,  2281, 39677, 12626,
        1416,  6967,  3364, 25081, 41270, 34945,  7426,  7119,  3428,
        9559, 18395,  1162,  4537,  7187, 11170, 23154, 12597,  2316,
       39372, 12655,  1425,  6999,  7128,  3354, 24889, 41347, 34920,
        7444,  7205,  3487,  9564, 18164,  1149,  4579,  7153, 11163,
       23233, 12701,  2336, 39679, 12677,  1433,  7001,  7175,  3346,
       24656, 41273, 34768,  7260,  3552,  9487, 18327,  1154,  4542,
       11258, 23088, 12832,  2350, 39688, 12664,  1424,  6960,  7137,
        3340, 24338, 41046, 34640,  7408,  3549,  9450, 18396,  1152,
        4516,  7379, 11274, 23030, 12798, 39378,  2345, 13037, 12938,
        6919,  7165,  3362, 24156, 40931, 34440,  7378,  7301,  3563,
        9370, 18529,  1151,  4544,  7432, 11206, 22949, 12758,  2358,
       39247,   192, 12631, 12779,  1398,  6807,  7157,  3373, 23750,
       40512, 33913,  7286,  7320,  3608,  9216, 18367,  1145,  4599,
        7400, 11179, 22619, 12740,  2328, 38633, 12496, 12695,  6770,
        7102,  3380, 23399, 39775, 33628,  7223,  7215,  3605,  9136,
       17825,  1137,  4644, 11123, 22457, 12720, 38109,   206, 12446,
        1411,  6779,  7077,  3390, 23156, 39549, 33495,  7211,  7262,
        9036, 17331,  4782,  7210, 11104, 22338, 12673, 37784, 12471,
       12490,  1427,  6843,  6996,  3348, 22838, 39543, 33301,  7269,
        9006, 17385,  1147,  4700,  7133, 11066, 22227, 12725, 37427,
       12427, 12469,  1428,  6882,  6929,  3352, 22648, 39645, 33178,
        7272,  7123,  3466,  8963, 17413,  1158,  4590,  6987, 10951,
       22081, 12541, 37286, 12404, 12357,  1407,  6889,  6820,  3294,
       22469, 32955,  3439,  8857, 17464,  4483,  6876, 10806, 21932,
       12301, 36988, 12401, 12398,  1403,  6864,  6785,  3255, 22351,
       39379, 32947,  7192,  3427,  8769, 17344,  1168,  4365, 10667,
       21774, 12189, 37023], dtype=int64)

In [29]:
train_csv = t_data[t_data.배출년도 < 2020]
test_csv = t_data[t_data.배출년도 == 2020]

In [30]:
train_csv = train_csv.iloc[::-1]
test_csv = test_csv.iloc[::-1]

In [31]:
train_csv.reset_index(inplace = True)
test_csv.reset_index(inplace = True)

In [32]:
test_label = test_csv['배출량(kg)']
test_csv =test_csv.drop(['index', '배출량(g)', '배출량(kg)'],axis =1)
train_csv = train_csv.drop(['index', '배출량(g)'],axis =1)

In [33]:
test_csv.to_csv('test.csv',index = False)
train_csv.to_csv('train.csv', index = False)
test_label.to_csv('test_label.csv')

In [34]:
print(train_csv.shape)
print(test_csv.shape)
print(test_label.shape)

(17016, 12)
(7450, 11)
(7450,)

In [35]:
train_csv

,배출년도,배출월,배출일,시군구명,배출량비율(%),배출횟수,배출횟수비율(%),세대수,남성인구,여성인구,외국인인구,배출량(kg)
0,2018,4,1,화성시,4.50,48118,4.21,283903.0,373610,348610,37023,102691.10
1,2018,4,1,포천시,4.20,3881,3.77,69028.0,80120,72190,12189,8113.30
2,2018,4,1,평택시,4.25,4326,3.88,208004.0,249525,237215,21774,9130.35
3,2018,4,1,파주시,3.94,14968,3.66,182723.0,224181,217436,10667,29605.85
4,2018,4,1,이천시,4.38,7491,3.98,87948.0,109076,104172,6854,18488.45
...,...,...,...,...,...,...,...,...,...,...,...,...
17011,2019,12,31,남양주시,2.83,8274,2.87,276656.0,349664,352166,7477,15732.85
17012,2019,12,31,군포시,2.82,3334,2.92,110005.0,136878,138974,7010,5522.85
17013,2019,12,31,구리시,3.41,5831,3.01,79870.0,98968,100297,1490,24028.00
17014,2019,12,31,과천시,3.02,175,3.16,21467.0,28638,29651,173,227.70
17015,2019,12,31,고양시,17.85,358,17.10,434028.0,522749,543602,12508,577.70

In [36]:
#데이터 주소
#https://data.gg.go.kr/portal/data/service/selectServicePage.do?infId=6IC5IWTSZZ15CVCBJZVA19199782&infSeq=1
#https://data.gg.go.kr/portal/data/service/selectServicePage.do?&infId=8FUJGXN2C3TZ1Y5TVT4N28532739&infSeq=1
#https://www.data.go.kr/data/15083273/fileData.do
#https://bigdata-region.kr/#/dataset/f5b850c2-8be0-457d-8915-471f2ccdc402
#https://stat.gg.go.kr/statHtml/statHtml.do?orgId=210&tblId=DT_STATM_0002&vw_cd=undefined&list_id=&scrId=&seqNo=&language=ko&obj_var_id=undefined&conn_path=I2&path=
#https://stat.gg.go.kr/statHtml/statHtml.do?orgId=210&tblId=DT_210J0003&vw_cd=undefined&list_id=&scrId=&seqNo=&language=ko&obj_var_id=undefined&conn_path=I2&path=
#https://stat.gg.go.kr/statHtml/statHtml.do?orgId=210&tblId=DT_21002D003
#https://stat.gg.go.kr/statgg/main.html
#https://data.gg.go.kr/portal/data/service/selectServicePage.do?infId=F031UWGYSHGERA2JXNX728777317&infSeq=3"